@import 'variables.scss';

.footer {
    background-color: $gray-900;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: -1rem;

    @include media-breakpoint-up(lg) {
        flex-direction: row;
        gap: 2rem;
    }

    &__items {
        list-style-type: none;
        padding-left: .5rem;
    }

    &__item-link {
        color: $gray-200;
        text-transform: capitalize;
        text-decoration: none;
        transition: $transition;

        &:hover {
            color: lighten($primary, 10%);
        }
    }

    &__title {
        color: $gray-200;
    }
}